nav { 
	width: 100%;
	height: 70px;
	padding-top: 5px;
	box-sizing: border-box;
}
	
	.nav-normal{
		background-color: blue;
	}
	
	.nav-admin{
		background-color: dimgray;
	}
	
	.nav-admin,.nav-admin li a {
		color: white;
	}
	
	.nav-admin li a:hover {
		color: aqua;
	}
	
	 nav ul { 
		display: flex;
	}
	
	li {
		list-style: none;
		margin-right: 35px;
	}
	
