<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  th:href="@{/css/menu.css}">
<link rel="stylesheet"  th:href="@{/css/style.css}">
<link rel="stylesheet"  th:href="@{/css/adminMenu.css}">
<title>管理者メニュー</title>
</head>
<body>
	<header>
		<nav class="nav-admin">
			<ul>
				<li>打刻プログラム</li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h3>管理者メニュー</h3>
		<br>
		<p>
			<a href="/adminAttendanceRecord">勤務情報確認</a>
		</p>
		<p>
			<a href="/employeeList">社員一覧</a>
		</p>
		<p>
			<a href="#">社員登録</a>
		</p>
		<p>
			<a href="/changeRequestList">変更申請確認</a>
		</p>
		<p>
			<a href="#">管理者更新履歴確認</a>
		</p>
		<p>
			<a href="#">社員ログイン履歴</a>
		</p>
		<p>
			<a href="/attendanceRecord">勤怠情報確認</a>
		</p>
		<br>
		<div class="engraving-flex">
			<form action="startEngraving" method="post">
			<p th:if="${startTime != null}"  th:text="${startTime}"></p>
			<p th:if="${startTime == null}" >&nbsp;</p>
				<input type="hidden" name="cmd" value="adminMenu">
				<input type="submit" value="出勤">
			</form>
			<form action="finishEngraving" method="post">
				<p th:if="${finishTime != null}"  th:text="${startTime}"></p>
				<p th:if="${finishTime == null}" >&nbsp;</p>
				<input type="hidden" name="cmd" value="adminMenu">
				<input type="submit" value="退勤">
			</form>
		</div>
	</div>
</body>
</html>
