<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet"  th:href="@{/css/menu.css}">
		<link rel="stylesheet"  th:href="@{/css/style.css}">
		<link rel="stylesheet"  th:href="@{/css/adminMenu.css}">
		<link rel="stylesheet"  th:href="@{/css/attendanceRecord.css}">
		<title>勤怠情報確認</title>
	</head>
	<body>
		<header>
	        <nav class="nav-normal">
	            <ul >
	                <li>打刻プログラム</li>
		            <li th:switch="${authority}">
			            <a th:case="0" href="/adminMenu" th:text="HOME"></a>
			            <a th:case="1" href="/employeeMenu" th:text="HOME"></a>
		            </li>
	                <li><a href="/logout">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
			<h3>勤怠情報確認</h3><br>
			<div th:switch="${authority}">
				<div class="engraving-flex"  th:case="0">
					<form action="/adminAttendanceRecord" method="get">
						<input type="text" name="year">年
						<input type="text" name="month">月
						<input type="hidden" name="employeeId" th:value ="${employeeId}">
						<input type="submit" value="検索">
					</form>
					<form action="/adminAttendanceRecord"  method ="get">
					<input type="hidden" name="employeeId"  th:value="${employeeId}">
						<input type="submit" value="今月表示">
					</form>
				</div>
				<div class="engraving-flex" th:case="1">
					<form action="/attendanceRecord" method="post">
						<input type="text" name="year">年
						<input type="text" name="month">月
						<input type="submit" value="検索">
					</form>
					<form action="/attendanceRecord" >
						<input type="submit" value="今月表示">
					</form>
				</div>
			</div>
			<br>
			<h4 class="text-left" th:text="${month}"></h4>
			<table class="attendance-record-table">
				<tr>
					<th>日付</th>
					<th>打刻出勤時間</th>
					<th>打刻退勤時間</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>休憩時間</th>
					<th>残業時間</th>
				</tr>
				<tr th:each="attendanceList : ${attendanceList}"  th:object="${attendanceList}">
					<td th:text="*{day}"></td>
					<td th:text="*{startEngrave}"></td>
					<td th:text="*{finishEngrave}"></td>
					<td th:text="*{startTime}"></td>
					<td th:text="*{finishTime}"></td>
					<td th:text="*{breakTime}"></td>
					<td th:text="*{overTime}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>