<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/changeAttendance.css">
<title>勤怠情報変更</title>
</head>
<body>
	<header>
		<nav class="nav-admin">
			<ul>
				<li>打刻プログラム</li>
				<li><a href="/adminMenu">HOME</a></li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h3>勤怠情報変更</h3>
		<br>
		<p>社員番号 :[[${user.employeeId}]] 名前 : [[${user.name}]]
			日付：[[${attendance.day}]]</p>
		<p class="error" th:if="${error!=null}">[[${error}]]</p>
		<form action="/changeAttendance" method="post">
			<table class="change-attendance-table" th:object="${attendance}">
				<tr>
					<th>内容</th>
					<th>変更前</th>
					<th>変更後</th>
				</tr>
				<tr>
					<th>出勤時間</th>
					<td>[[*{startTime}]]</td>
					<td><input type="time" name="startTime"
						th:value="*{startTime}"></td>
				</tr>
				<tr>
					<th>休憩時間</th>
					<td>[[*{breakTime}]]</td>
					<td><input type="time" name="breakTime"
						th:value="*{breakTime}"></td>
				</tr>
				<tr>
					<th>退勤時間</th>
					<td>[[*{finishTime}]]</td>
					<td><input type="time" name="finishTime"
						th:value="*{finishTime}"></td>
				</tr>
				<tr>
					<th>残業時間</th>
					<td>[[*{overTime}]]</td>
					<td><input type="time" name="overTime" th:value="*{overTime}"></td>
				</tr>
				<tr>
					<th>出勤打刻時間</th>
					<td>[[*{startEngrave}]]</td>
					<td>変更不可<input type="hidden" th:value="*{startEngrave}"
						name="startEngrave"></td>
				</tr>
				<tr>
					<th>退勤打刻時間</th>
					<td>[[*{finishEngrave}]]</td>
					<td>変更不可<input type="hidden" th:value="*{finishEngrave}"
						name="finishEngrave"></td>
				</tr>
			</table>
			<br>
			<table class="change-attendance-table" th:object="${attendance}">
				<tr>
					<td><input type="hidden" th:value="*{attendanceId}"
						name="attendanceId"> <input type="hidden"
						th:value="*{employeeId}" name="employeeId"><input
						type="hidden" th:value="*{day}" name="day"> <input
						type="submit" value="変更"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
