<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/adminMenu.css">
		<link rel="stylesheet" href="css/changeRequestList.css">
		<title>変更申請一覧</title>
	</head>
	<body>
		<header>
	        <nav class="nav-admin">
	            <ul>
	                <li>打刻プログラム</li>
	                <li><a href="/adminMenu" th:text="HOME"></a></li>
	                <li><a href="/logout">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
			<h3>変更申請一覧</h3><br>
			<p class="error" th:if="${error!=null}">[[${error}]]</p>
			<p class="message" th:if="${message!=null}">[[${message}]]</p>
			<table class="change-request-table">
				<tr>
					<th id="change-request-normal">日時</th>
					<th id="change-request-normal">変更対象者番号</th>
					<th id="change-request-normal">出勤時間<br>
					(変更前/変更後)</th>
					<th id="change-request-normal">退勤時間<br>
					(変更前/変更後)</th>
					<th id="change-request-other">コメント</th>
					<th id="change-request">認/否</th>
				</tr>
				<tr th:each="requestDayList:${requestDayList}" th:object="${requestDayList}">
					<td id="change-request-normal" th:text="*{day}"></td>
					<td id="change-request-normal" th:text="*{employeeId}"></td>
					<td id="change-request-normal" th:text="|*{beforeStartTime}/*{changeStartTime}|"></td>
					<td id="change-request-normal" th:text="|*{beforeFinishTime}/*{changeFinishTime}|"></td>
					<td id="change-request-other-td" th:text="*{comment}"></td>
					<td id="change-request">
						<div class="engraving-flex">
							<form action="changeRequest" method="post">
								<input type="hidden" name="requestId" th:value="*{requestId}">
								<input type="hidden" name = "cmd" value="input">
								<input type="submit" value="認">
							</form>
							<form action="changeRequest" method="post">
								<input type="hidden" name="requestId" th:value="*{requestId}">
								<input type="hidden" name = "cmd" value="delete">
								<input type="submit" value="否">
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
