<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lange="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/changeEmployee.css">
<title>社員登録</title>
</head>
<body>
	<header>
		<nav class="nav-admin">
			<ul>
				<li>打刻プログラム</li>
				<li><a href="/adminMenu">HOME</a></li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h3>社員登録</h3>
		<br>
		<p class="error" th:if="${error!=null}">[[${error}]]</p>
		<form action="/employeeRegistration" method="post" enctype="multipart/form-data">
			<table class="change-employee-table">
				<tr>
					<th>氏名</th>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<th>社員番号</th>
					<td><input type="text" name="employeeId"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
				<tr>
					<th>E-Mail</th>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<th>写真</th>
					<td><input type="file" name="photo"></td>
				</tr>
				<tr>
					<th>管理者権限</th>
					<td><select name="authority">
							<option value="1">---管理者権限を付与しない---</option>
							<option value="0">---管理者権限を付与する---</option>
					</select></td>
				</tr>
			</table>


			<br> <input type="submit" value="登録">

		</form>
	</div>
</body>
</html>
