<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/menu.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/adminMenu.css}">
<title>メニュー</title>

</head>
<body>
	<header>
		<nav class="nav-normal">
			<ul>
				<li>打刻プログラム</li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h3>メニュー</h3>
		<p class="error" th:if="${error!=null}">[[${error}]]</p>
		<p class="message" th:if="${message!=null}">[[${message}]]</p>
		<br>
		<p>
			<a href="/requestForminfo">勤怠情報変更フォーム</a>
		</p>
		<p>
			<a href="/attendanceRecord">勤怠情報確認</a>
		</p>
		<p>
			<br>
		<div class="engraving-flex">
			<form action="startEngraving" method="post">
				<p th:if="${startTime != null}" th:text="${startTime}"></p>
				<p th:if="${startTime == null}">&nbsp;</p>
				<input type="hidden" name="cmd" value="employeeMenu">
				<input type="submit" value="出勤" th:if="${startTime==null}">
			</form>
			<form action="finishEngraving" method="post">
				<p th:if="${finishTime != null}" th:text="${finishTime}"></p>
				<p th:if="${finishTime == null}">&nbsp;</p>
				<input type="hidden" name="cmd" value="employeeMenu">
				<input type="submit" value="退勤" th:if="${startTime!=null&&finishTime==null}">
			</form>
		</div>
	</div>
</body>
</html>
