<!DOCTYPE html>
<html lange="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/adminMenu.css">
		<link rel="stylesheet" href="css/historicalCheck.css">
		<title>変更履歴</title>
	</head>
	<body>
		<header>
	        <nav class="nav-admin">
	            <ul>
	                <li>打刻プログラム</li>
	                <li><a href="#">HOME</a></li>
	                <li><a href="#">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
			<h3>変更履歴</h3><br>
			<table class="historical-check-table">
				<tr>
					<th>日時</th>
					<th>変更対象者番号</th>
					<th>変更対象データ</th>
					<th>変更前データ</th>
					<th>変更後データ</th>
					<th>担当者</th>
				</tr>
				<tr>
					<td>0000/00/00</td>
					<td>社員番号</td>
					<td>データ名</td>
					<td>変更前</td>
					<td>変更後</td>
					<td>担当者名</td>
				</tr>
			</table>
		</div>
	</body>
</html>