<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/adminMenu.css">
		<link rel="stylesheet" href="css/historicalCheck.css">
		<title>変更履歴</title>
	</head>
	<body>
		<header>
	        <nav class="nav-admin">
	            <ul>
	                <li>打刻プログラム</li>
	                <li><a href="/adminMenu">HOME</a></li>
			<li><a href="/logout">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
		
			<h3>変更履歴</h3><br>
			<p class="error" th:if="${error!=null}">[[${error}]]</p>
			<p class="message" th:if="${message!=null}">[[${message}]]</p>
			<div class="engraving-flex" >
					<form action="/historicalCheck" method="post">
						<input type="text" name="employeeId">変更対象者番号
						<input type="text" name="adminId">担当者番号
						<input type="submit" value="検索">
					</form>
					<form action="/historicalCheck"  method ="post">
						<input type="submit" value="今月表示">
					</form>
			</div>
			<table class="historical-check-table">
				<tr>
					<th>日時</th>
					<th>変更対象者番号</th>
					<th>変更対象データ</th>
					<th>変更前データ</th>
					<th>変更後データ</th>
					<th>担当者番号</th>
				</tr>
				<tr th:each="changeList: ${changeList}" th:object="${changeList}">
					<td th:text="*{isUpdated}"></td>
					<td th:text="*{employeeId}"></td>
					<td th:text="*{dataName}"></td>
					<td th:text="*{beforeData}"></td>
					<td th:text="*{afterData}"></td>
					<td th:text="*{adminId}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>
