<!DOCTYPE html>
<html lange="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/login.css">
		<title>ログイン</title>
	</head>
	<body>
		<header>
	        <nav class="nav-normal">
	            <ul>
	                <li>打刻プログラム</li>
	                <li><a href="#">HOME</a></li>
	                <li><a href="#">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
			<h3>ログイン</h3><br>
			<form action="/login" method="post">
				<table class="login-table">
					
						<tr>
							<td>社員番号</td>
							<td><input type="text" name="employee_id"></td>
						</tr>
						<tr>
							<td>パスワード</td>
							<td><input type="text" name="password"></td>
						</tr>
				</table>
				<br>
				<input type="submit" value="ログイン">
			</form>
		</div>
	</body>
</html>
