<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/adminMenu.css">
<link rel="stylesheet" href="css/changeAttendance.css">
<title>ユーザーログイン履歴</title>
</head>
<body>
	<header>
		<nav class="nav-admin">
			<ul>
				<li>打刻プログラム</li>
				<li><a href="/adminMenu">HOME</a></li>
				<li><a href="/logout">ログアウト</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<h3>ログイン履歴</h3>
		<br>
		<p class="error" th:if="${error!=null}">[[${error}]]</p>
		<p class="message" th:if="${message!=null}">[[${message}]]</p>
		<div class="engraving-flex">
			<form action="/userHistoricalCheck" method="post">
				<input type="text" name="employeeId">社員番号&emsp;<input type="text"
					name="name">名前&emsp;<input type="text" name="year">年&emsp;<input
					type="text" name="month">月&emsp;<input type="submit" value="検索">
			</form>
			<form action="/userHistoricalCheck" method="post">
				<input type="submit" value="今月表示">
			</form>
		</div>
		<br>
		<h4 class="text-left" th:text="${month}"></h4>
		<table class="change-attendance-table">
			<tr>
				<th>日時</th>
				<th>社員番号</th>
				<th>氏名</th>
			</tr>

			<tr th:each="logininfo: ${loginLogList}">
				<td th:text="*{logininfo.loginTime}"></td>
				<td th:text="*{logininfo.employeeId}"></td>
					<td	th:text="*{logininfo.name}"></td>
			</tr>
		</table>
	</div>
</body>
</html>
