.attendance-record-table {
	width: 100%;
}

.attendance-record-table th{
	background-color: #99CCFF;
}

#attendance-record-other {
	width: 10%;
}

#attendance-record-normal{
	width: 13%;
}
