.change-request-table {
	width: 100%;
	table-layout: fixed;
}

.change-request-table th{
	background-color: dimgray;
	color: white;
}

#change-request-normal {
	width: 15%;
}
#change-request-other  {
	width: 29%;
}

#change-request-other-td {
	width: 29%;
	text-align: left;
}

#change-request {
	width: 10%;
}