.change-employee-table {
	width: 80%;
	margin: auto;
}

.change-employee-table th{
	background-color: dimgray;
	width: 32%;
	color: white;
}

.change-employee-table img{
	width: 150px;
	height: 200px;
}