.employee-list-table{
	width: 100%;
}

.employee-list-table th{
	width: 150px;
	background-color: dimgray;
	color: white;
}

.employee-list-table img{
	width: 150px;
	height: 200px;
}

#employrr-list-attendance {
	width: 7%;
}

#employee-list-num {
	width: 12%;
}

#employee-list-table {
	width: 20%;
}
