.historical-check-table {
	width: 100%;
	brder-spacing: 0px;
	border: 2px solid dimgray;
}

.historical-check-table th{
	width: 16%;
	background-color: dimgray;
	color: white;
	
}

.historical-check-table td{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid dimgray;
	
}

