<!DOCTYPE html>
<html lange="ja">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/adminMenu.css">
		<link rel="stylesheet" href="css/changeAttendance.css">
		<title>ユーザーログイン履歴</title>
	</head>
	<body>
		<header>
	        <nav class="nav-admin">
	            <ul>
	                <li>打刻プログラム</li>
	                <li><a href="#">HOME</a></li>
	                <li><a href="#">ログアウト</a></li>
	            </ul>
	        </nav>
	    </header>
		<div class="container">
			<h3>ログイン履歴</h3><br>
			<div class="engraving-flex">
				<form action="#" method="post">
					<input type="text" name="name">名前
					<input type="text" name="year">年
					<input type="text" name="month">月
					<input type="submit" value="検索">
				</form>
				<form action="#" method="post">
					<input type="submit" value="全検索">
				</form>
			</div>
			<br>
			<h4 class="text-left">0000年00月</h4>
			<table class="change-attendance-table">
				<tr>
					<th>日時</th>
					<th>社員番号</th>
					<th>氏名</th>
				</tr>
				<tr>
					<td>00日 00時00分</td>
					<td>00000</td>
					<td>名前</td>
				</tr>
			</table>
		</div>
	</body>
</html>